{% load static %}
{% block content %}
  <section id="about-us" class="about_us">
    <h2 class="section-title-about-title">О компании</h2>
    <div class="about-us">
      <div class="image-about">
        <img src="{% static 'img/about.svg' %}" class="about-img" alt="about-img" />
      </div>
      <div class="about-text">
        <h3 class="title-block">Таким образом реализация намеченных заданий.</h3>
        <p class="about-text-ph">Таким образом рамки и место обучения кадров играет важную роль в формировании новых предложений.Равным образом начало повседневной работы по формированию позиции играет важную роль в формировании системы обучения кадров.</p>
      </div>
    </div>
  </section>
{% endblock %}
